* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

h1 {
  font-family: "Corinthia", cursive;
}

h2 {
  font-family: "Baloo Bhaijaan 2", cursive;
}
p {
  font-family: "Corinthia", cursive;
}
button {
  font-family: "Smooch", cursive;
}

@import "./song.scss";
@import "./player.scss";
@import "./library.scss";
@import "./music.scss";
@import "./nav.scss";
