.library-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem 1rem;
  &:hover {
    cursor: pointer;
    background-color: rgb(141, 168, 219);
  }

  img {
    width: 30%;
  }
}

.selected {
  background-color: rgb(141, 168, 219);
}
