.library-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem 1rem;
  &:hover {
    cursor: pointer;
    background-color: rgb(141, 168, 219);
  }

  img {
    width: 30%;
  }
  @media (max-width: 450px) {
    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.2rem;
    }
    img {
      width: 15%;
    }
  }
}

.selected {
  background-color: rgb(141, 168, 219);
}
